/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color: #f6bb73;

	--light_menu: white;
	--mid_menu: antiquewhite;
	--dark_menu: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid var(--accent-color);
	background-color: white;
}

h1 {
	font-size: 150%;
	margin: .75em 0;
	color: var(--accent-color);
}

h2 {
	margin: .75em 0 .5em;
	color: var(--accent-color);
}

h3 {
	margin: .5em 0;
}

p {
	margin: .5em 0;
	line-height: 1.4;
}

ul {
	margin: .5em 0 .5em 1.25em;
}

blockquote {
	margin: 0;
}

/* the styles for the header */
header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(
	    30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	text-align: center;
}

header h2 {
	font-size: 175%;
	padding: .5em 0 0 0;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	padding-bottom: 1em;
}

header img {
	display: none;
}

/* the styles for the main content */
main {
	display: flex;
	flex-direction: column-reverse;
	padding: 0 1em 1em;
}

main blockquote {
	font-style: italic;
	padding-left: 1em;
}

main h3 + img {
	width: clamp(40px, 50%, 75px);
	border: 4px double var(--accent-color);
	border-radius: 10px;
	margin-bottom: .75em;
}

/* speaker images */

/* the styles for the section */
section {
	padding-left: .5em;
	border-bottom: 1px solid #ccc;
}

section img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 0 .75em 0;
}

/* the styles for the aside */
aside {
	padding-right: .5em;
}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);
}

footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

/* CSS class */
.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}

.speaker h1 {
	color: var(--accent-color);
}

.speaker h2 {
	color: black;
}

.speaker p {
	padding: .5em 0;
}

.large {
	font-size: 125%;
}

/* styles for the menu */
.navbar {
	position: relative;
	background-color: var(--accent-color);
}

#menu-toggle {
	display: none;
}

.menu-btn {
	display: block;
	padding: 1em;
	cursor: pointer;
	color: var(--light_menu);
	font-weight: bold;
}

.menu-btn::before {
	content: "☰";
	margin-right: .5em;
}

.menu {
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 40%;
	background-color: var(--accent-color);
	display: none;
	padding: 0;
}

.menu li {
	width: 100%;
}

.menu li a {
	display: block;
	padding: .75em 1em;
	text-decoration: none;
	color: var(--light_menu);
	border-top: 1px solid var(--mid_menu);
}

.menu li a:hover,
.menu li a:focus,
.menu li a.current {
	background-color: var(--mid_menu);
	color: var(--dark_menu);
}

#menu-toggle:checked + .menu-btn::before {
	content: "✖";
}

#menu-toggle:checked ~ .menu {
	display: block;
}

.submenu {
	position: relative;
}

.submenu > a {
	position: relative;
}

.submenu > a small::after {
	content: "▶";
	font-size: .7rem;
	margin-left: .25em;
}

.dropdown {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: var(--accent-color);
	color: var(--light_menu);
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
}

.dropdown li a {
	padding-left: 2em;
}

.submenu:hover > .dropdown {
	display: block;
}

/* main desktop styles and nav desktop styles */
@media (min-width: 800px) {

	main {
		flex-direction: row;
	}

	section {
		flex-basis: 75%;
		border-bottom: none;
	}

	aside {
		flex-basis: 25%;
	}

	section img {
		width: clamp(100px, 50%, 250px);
		float: right;
		margin: 0 1em .25em;
	}

	header {
		text-align: left;
	}

	header img {
		display: block;
		width: clamp(40px, 15%, 80px);
		float: left;
		margin: .75em 1em;
	}

	.menu-btn {
		display: none;
	}

	.navbar {
		clear: left;
	}

	.menu {
		position: static;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
	}

	.menu li {
		flex: 1 1 20%;
		text-align: center;
		width: auto;
	}

	.menu li a {
		margin: 0 1px 2px;
		border-top: none;
	}

	.dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		display: none;
		background-color: var(--accent-color);
	}

	.submenu:hover > .dropdown {
		display: block;
	}

	.submenu > a small::after {
		content: "▼";
	}

	.menu > li:first-child a {
		margin-left: 0;
	}

	.menu > li:last-child a {
		margin-right: 0;
	}
}
